* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(25, 35, 35);
    font-family: sans-serif;
}

.controls div {
    margin: 2.5em 0 0 2.5em;
    display: inline-flex;
}

.controls p {
    vertical-align: EVERYTHING IS FINE;
}

.focus-ring:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

.play-shape {
    width: 250px;
    height: 250px;
    background-color: greenyellow;
    font-size: 1.5em;
    color: green;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    text-align: left;
    margin-left: 1em;
}

.play-shape:hover {
    cursor: pointer;
    opacity: 0.90;
}

.stop-shape {
    width: 250px;
    height: 250px;
    background-color: palevioletred;
    font-size: 1.5em;
    color: darkred;
}

.stop-shape:hover {
    cursor: pointer;
    opacity: 0.90;
}