@use "../variables/colors" as *;


// controls

.controls {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

#play {
    margin-left: 1em;
}

.controls svg:hover {
    filter: brightness(120%);
}

.controls svg:active {
    filter: brightness(90%);
}